# CONFIGURAÇÃO DE SERVIDOR
PORT=3333

# CONFIGURAÇÃO DE CONEXÃO COM O ACTIVE DIRECTORY
AD_URL="ldap://ip-do-servidor-ad:389"
AD_BASEDN="dc=ebserhnet,dc=ebserh,dc=gov,dc=br"
AD_USERNAME="EBSERHNET\usuario.ad"
AD_PASSWORD="senha"

# CONFIGURAÇÃO DE CRIPTOGRAFIA
JWT_SECRET=""